.malarkdowney {
  white-space-collapse: preserve;
}

/* Block things */
/* ************ */

code.malarkdowney,
.malarkdowney_block_code {
  font-family: monospace;
}

/* Line things */
/* *********** */

.malarkdowney_line {
  min-height: 1em;
}

codeline {
  display: block;
}

.malarkdowney_aligned {
  position: relative;
  display: inline-block;
  width: 0;
  text-wrap: nowrap;
}
