.malarkdowney_root {
  position: relative;
}

.malarkdowney {
  white-space-collapse: preserve;
}

.malarkdowney_line {
  min-height: 1em;
}

.malarkdowney_aligned {
  position: absolute;
  min-width: max-content;
}
