.malarkdowney {
  white-space-collapse: preserve;
}

.malarkdowney_line {
  min-height: 1em;
}

codeline {
  display: block;
}

.malarkdowney_aligned {
  position: relative;
  display: inline-block;
  width: 0;
}
