@font-face {
  font-family: "nunito";
  src: url("Nunito-VariableFont_wght.ttf");
}

:root {
  --s-section-pad: 0.8cm;
  --s-line-pad: 0.5cm;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-size: 16pt;
  font-family: "nunito", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 1cm 0.5cm;
  max-width: 18cm;
  margin: 0 auto;
}

hr {
  border-top: 0.07cm dashed rgb(57 179 77 / 30%);
  margin: var(--s-section-pad) 0;
  width: 100%;
}

.footnote {
  font-size: 0.8em;
}

.malarkdowney_root,
.malarkdowney_block {
  & > *:first-child {
    margin-top: 0;
  }
  & > *:last-child {
    margin-bottom: 0;
  }
}

.malarkdowney_line {
  margin: var(--s-line-pad) 0;
}

.malarkdowney_aligned {
  font-family: monospace;
  font-weight: bold;
  opacity: 0.5;
}

.malarkdowney_incomplete::before {
  --s-width: 0.5cm;
  content: " ";
  display: inline-block;
  margin-right: calc(-1 * var(--s-width));
  width: var(--s-width);
  border-bottom: 0.1cm dotted #eb4775;
}

.malarkdowney_block_ul,
.malarkdowney_block_ol {
  margin: var(--s-section-pad) 0;
  & > * {
    margin: 0.4cm 0;
  }
}

.malarkdowney.malarkdowney_inline_pseudo_a {
  color: #435590;
}

code.malarkdowney {
  font-family: monospace;
  font-size: 0.8em;
  padding: 0.1cm;
  background-color: rgb(224, 231, 251);
  border-radius: 0.1cm;
}

h1.malarkdowney,
h2.malarkdowney,
h3.malarkdowney,
h4.malarkdowney,
h5.malarkdowney,
h6.malarkdowney {
  font-family: sans-serif;
  text-transform: uppercase;
  margin: var(--s-section-pad) 0;
}
