body {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  align-items: center;
}

.malarkdowney_root {
  padding: 0.5cm;
  border-radius: 0.1cm;
  border: 0.02cm solid rgba(0, 0, 0, 0.3);
}
